.services_form {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  @media (max-width: 1024px) {
    .services_form {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .services_form {
      width: 90%;
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .services_form {
      width: 100%;
      grid-template-columns: 1fr; 
      gap: 10px;
    }
  }
  